body {
  background-color: #475fb2;
  color: #475fb2;
  margin: 25px;
}

.generate {
  color: #45309c;
}

.twitter-btn {
  font-size: 26px;
  color: #1da1f2;
  border: 1px solid #1da1f2;
  border-radius: 5px;
  padding: 0px 10px;
}

.space {
  margin: 25px 0px;
}

.extraSpace {
  margin: 75px 0px;
}
